body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: lightblue;
    color: black;
}

h1, h2, label, div {
    margin: 20px 0;
}

#used-letters {
    margin-top: 20px;
}

#message {
    margin-top: 20px;
    font-size: 1.2em;
}

#message.success {
    color: green;
}

#message.failure {
    color: red;
}

#used-words-list {
    font-size: 1.2em;
    list-style-type: none;
    padding: 0;
}

#used-words-list li {
    margin: 10px 0;
}

